<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Join As Member</h1>
  <%- include("errors.ejs") %>
  <form action="/member-join" method="POST">
    <label for="memberPassword">Type in secret Password to Join as Member!</label>
    <input id="memberPassword" name="memberPassword" type="password" />
    <button>Join as Member</button>
  </form>
</body>
</html>
